@charset "utf-8";

@import "layout.css";

header {
    background-color: #def7ff;
}
header h1 {
    margin: 0;
    padding: 10px;
}
footer {
    font-family: arial;
    font-size: 12px;
    background-color: #def7ff;
    width: 100%;
    position: absolute;
    border-top:1px solid rgba(255,255,255,0.2);
    bottom:0; left:0;
    height: 30px;
}

.login-form {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.login-form input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.login-form button {
    background-color: white;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
.login-form button:hover {
    background: #67c5ff;
    color: white;
}
.button-outer {
    text-align: center;
}
.login-title p {
    width: 70%;
    border-bottom: solid 1px black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: larger;
    font-family: serif;
}