@charset "utf-8";

.id {
    position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.id p {
    font-size: x-large;
}
.id button {
    margin-left: 10px;
    background-color: white;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    
}
.id button:hover {
    background: #67c5ff;
    color: white;
}